.icon {
  width: 104px;
  height: 16px;
}

.header {

 display: flex;
  align-items: center;
  justify-content: space-between; 
  border-bottom: 1px solid #f2f4f7;
  padding: 24px 120px;
  width: 1440px;
  height: 68px;
  background-color: #f2f4f7;
}
 .nav {
display: flex;
gap: 32px;
 }

 .navLink {
  font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: center;
color: #101828;
 }
 .navLink:hover{
font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 125%;
text-align: center;
color: #0b44cd;
 }

 .active {
  color: #0b44cd;
}