.listContainer {
 
  padding: 16px;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
   display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 32px;
 
  justify-content: center;
}

.listItem {
  margin-bottom: 12px;
}
