.form {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding-left: 32px;
    width: 576px;
/* height: 348px; */
/* justify-content: center; */
align-items: center;

}




.titleContainer {
    padding: 32px 32px 24px 32px ;

}

.text {
    font-family: "Manrope", sans-serif;
font-weight: 600;
font-size: 20px;
line-height: 1.2;
color: #101828;
}

.supportingText {
font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #8d929a;
}

.input {
    height: 48px;
    padding-left: 20px;
    width: 100%;
    border-radius: 12px;
padding: 12px 20px;
width: 576px;
height: 48px;
background: #f7f7f7;

font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #8d929a;
}

.textarea {
font-family: "Manrope", sans-serif;
font-weight: 500;
font-size: 16px;
line-height: 1.25;
color: #8d929a;

    resize: none;
    height: 88px;
     padding-left: 20px;
     padding-top: 12px;
      width: 100%;
      border-radius: 12px;
padding: 12px 20px 56px;
width: 576px;
height: 88px;
background: #f7f7f7;
}

.button {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 12px;
padding: 12px 51px;
width: 156px;
height: 44px;

background-color: #3470ff;
border: none;
font-family: "Manrope", sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 1.25;
color: #fff;
}